.qb-surround {
    height: 85vh;

    display: flex;
    align-items: center;

    flex-direction: column;

    padding-top: 5vh;
}

.qb-section {
    width: 60vh;
    height: auto;
    padding-bottom: 20px;

    text-align: center;

    border: 4px solid #FC7061;
    box-shadow: 20px 20px 0 #FC7061;
}

.qb-question-title {
    font-size: 3em;
    font-weight: 400;
}

.qb-question-choices {
    width: 80%;

    padding-left: 20%;
}

.qb-answer {
    font-size: 1.5em;
    width: fit-content;

    cursor: pointer;
    user-select: none;

    color: #FC7061;
}

.qb-submit {
    margin-top: 10vh;
    padding: 16px 60px;

    font-size: 2.5em;
    cursor: pointer;

    background-color: #ED8366;
    color: white;
    border: 1px solid black;
    box-shadow: 9px 9px rgba(0, 0, 0, 0.4);
}